

@media (max-width: 1799px) {
    .main-menu > ul > li > a {
        font-size: 12px;
        padding: 22px 0;
        letter-spacing: 0.5px;
    }
    .header-logo {
        width: 95px;
        margin-bottom: -35px;
    }
    .main-menu > ul {
        gap: 32px;
    }
    .dropdown-ul > li > a {
        font-size: 12.5px;
        padding: 10px 0;
    }
    .main-menu > ul > li > .main-dropdown {
        left: -22px;
        padding: 8px 16px;
        min-width: 205px;
        inset: 100% -16px auto -16px;
    }
    .header-search-icon {
        font-size: 17px;
    }
    .header-right {
        gap: 29px;
    }

    .hero-section__inner {
        min-height: 480px;
    }
    .hero-content .h1 {
        font-size: 45px;
    }
    .bar-menu > ul > li > a {
        font-size: 13px;
        padding: 22px 0;
        letter-spacing: 0.9px;
    }

    .cp-section {
        padding: 50px 0;
    }
    .h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    p {
        font-size: 15px;
    }

    .pr-section {
        padding: 80px 0;
    }
    .x-card .th4 {
        font-size: 15px;
        margin-bottom: 7px;
    }
    .x-card h3 {
        font-size: 19px;
    }
    .x-card {
        padding: 25px 30px;
        border-radius: 15px;
    }
    .x-card__wrapper {
        gap: 16px;
    }
    .default-button {
        font-size: 13px;
        min-height: 39px;
        padding: 3px 40px;
        letter-spacing: 1px;
    }
    .pr-x-cards-foot {
        margin-top: 20px;
    }

    .ip-section {
        padding: 60px 0 35px;
    }
    .ip-t-row__image {
        height: 430px;
        border-radius: 15px;
    }

    .ip-b-row {
        padding-top: 65px;
    }
    .ip-box__title h3 {
        font-size: 22px;
    }
    .ip-box__title {
        padding: 20px 31px;
    }
    .ip-box {
        border-radius: 20px;
    }
    .ip-box__body {
        padding: 29px 31px;
    }
    .ip-cg h4 {
        font-size: 13px;
        letter-spacing: 1.1px;
    }
    .ip-cg h3 {
        font-size: 19px;
    }
    .ip-cg {
        margin-bottom: 12px;
    }
    .ip-cg h3.sb {
        font-size: 25px;
    }
    .default-button--sw {
        padding-left: 25px;
        padding-right: 25px;
    }
    .ip-bd__ft p {
        font-size: 13px;
    }
    .ip-box-f__image {
        height: 280px;
    }

    .cta-section {
        padding: 35px 0 60px;
    }
    .cta__menu .a .icon {
        width: 32px;
    }
    .cta__menu .a {
        font-size: 13px;
        gap: 15px;
    }
    .cta__menu {
        margin-top: 35px;
    }
    .cta__sr-content h3 {
        font-size: 26px;
    }
    .cta__sr-content h4 {
        font-size: 18px;
    }
    .cta__mail .input {
        height: 45px;
        padding: 6px 20px;
        font-size: 13px;
    }
    .cta__mail .submit-button {
        font-size: 13px;
        height: 45px;
        width: 140px;
        letter-spacing: 1.1px;
    }
    .cta__box {
        padding: 60px 50px 50px;
        border-radius: 20px;
    }

    .footer-menu ul li a {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .footer-menu {
        padding: 32px 0;
    }
    .copy-right {
        font-size: 13px;
    }
    body {
        font-size: 13px;
    }
    .footer__logo {
        width: 65px;
    }
    .ft-bt-menu li a {
        font-size: 13px;
        padding: 0 13px;
    }
    .footer__bottom {
        padding: 15px 0;
    }

}


@media (max-width: 1199px) {
    .cp-section__inner {
        padding: 0;
    }
}


@media (max-width: 991px) {
    .bar-menu__outer {
        padding: 10px 0;
    }
    .bar-menu > ul {
        flex-wrap: wrap;
        justify-content: unset;
    }
    .bar-menu > ul > li {
        width: 33%;
    }
    .bar-menu > ul > li > a {
        padding: 6px 0;
    }

    .pr-row__title {
        margin-bottom: 30px;
    }
    .ip-t-row__title {
        margin-bottom: 30px;
    }

    .cta__sr-content {
        margin-bottom: 20px;
    }
    .cta__box {
        padding: 35px 30px 30px;
        border-radius: 20px;
    }

    .footer-menu ul {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__bottom {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo {
        order: -5;
    }
}


@media (max-width: 768px) {
    .header-logo {
        width: 80px;
        margin-bottom: -28px;
    }
    .hero-content .h1 {
        font-size: 35px;
    }
    .hero-section__inner {
        padding: 40px 0;
        min-height: 250px;
    }
    .bar-menu > ul > li {
        width: 100%;
    }

    .pr-section {
        padding: 50px 0;
    }
    .x-card h3 {
        font-size: 16px;
    }
    .x-card {
        padding: 15px 15px;
        border-radius: 12px;
    }
    .ip-section {
        padding: 50px 0 30px;
    }
    .ip-t-row__image {
        height: 280px;
        border-radius: 12px;
    }
    .ip-b-row {
        padding-top: 40px;
    }
    .ip-box__title h3 {
        font-size: 22px;
    }
    .ip-box__title {
        padding: 15px 15px;
    }
    .ip-box__body {
        padding: 15px 15px;
    }
    .ip-box {
        border-radius: 12px;
    }
    .ip-box-f__image {
        height: 190px;
    }
    
    .cta__mail {
        flex-wrap: wrap;
        background: transparent;
        gap: 13px;
    }
    .cta__mail .input {
        width: 100%;
    }
    .cta__mail .submit-button {
        width: 100%;
    }

    .cta__menu {
        flex-direction: column;
    }
    .cta__box {
        padding: 30px 22px 30px;
        border-radius: 12px;
    }
    .cta__sr-content h4 {
        font-size: 16px;
    }
    .ip-cg h3 {
        font-size: 17px;
    }
    .ip-cg h3.sb {
        font-size: 22px;
    }
}


@media (max-width: 575px) {
 
}


@media (max-width: 390px) {
    .cta__box {
        padding: 25px 15px 20px;
        border-radius: 12px;
    }
    .cta__sr-content h4 {
        font-size: 15px;
    }
}
